.App {
  font-family: sans-serif;
  text-align: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.filter-btn {
  background-color: #ebf4fb !important;
  border-color: #0079ca !important;
  color: #0079ca !important;
  font-weight: 500 !important;
  padding: 10px 20px 30px 20px !important;
  margin-left: 10px !important;
}
.filter-btn:hover {
  background-color: #0079ca;
  color: #ebf4fb;
  padding: 10px 20px 30px 20px;
  margin-left: 10px;
  font-weight: 500;
}
.ant-modal-content {
  max-margin: -11% -70% 0 60%;
}
.filter-options {
  margin: 20px 0 0 0;
}
.condition-btn {
  border: none;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
select {
  background-color: #fff;
  border: 1px solid #c2cdd6;
  border-radius: 4px;
  box-shadow: none !important;
  height: 40px;
  min-width: 100px;
  padding-bottom: 7px;
  padding-right: 32px;
  padding-top: 7px;
  text-align: left;
}
.cross-btn {
  border: none;
}
.main-search {
  width: 366px;
  padding: 10px 0;
  border-radius: 5px;
}
.filter-btn {
}
svg {
  padding-bottom: -15px;
  font-size: 20px;
}
